---
// Assets
import { Image } from "astro:assets";
// Fundations
import Link from "@/shared/ui/base/Link.astro";
import Text from "@/shared/ui/base/Text.astro";
const { title, url, subtitle, logo } = {
  url: "/projects/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  logo: Astro.props.post.data.logo.url,
  subtitle: Astro.props.post.data.subtitle,
};
---

<div
  class="grid sm:grid-cols-2 p-2 ring-base-200 duration-300 group shadow rounded-3xl hover:shadow-light bg-linear-45 from-base-50  to-base-100"
>
  <div
    class="flex flex-col justify-between min-h-72 p-4 rounded-2xl relative overflow-hidden h-full"
  >
    <div class="flex justify-between items-center">
      <Text
        tag="h3"
        variant="textBase"
        class="font-medium text-base-900 uppercase"
      >
        {title}
      </Text>
      <div
        class="rounded-full bg-base-50 p-1 text-base-900 group-hover:-rotate-45 duration-300"
      >
        <svg
          class="size-4"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
          ></path>
        </svg>
      </div>
    </div>
    <div
      class="sm:-mb-20 sm:group-hover:mb-0 gap-12 duration-300 flex flex-col items-start justify-between"
    >
      <Text
        tag="p"
        variant="textBase"
        class=" text-base-600 leading-6 mt-8 text-balance"
      >
        {subtitle}
      </Text>
      <Link size="xs" variant="default" href={url} title={title}
        >Read more
      </Link>
    </div>
  </div>
  <Image
    src={logo}
    alt={title}
    width={500}
    height={800}
    class="w-full h-full object-cover rounded-2xl order-first sm:order-last"
  />
</div>
