---
// Fundations
import Link from "@/shared/ui/base/Link.astro";
import Text from "@/shared/ui/base/Text.astro";
const { title, url, subtitle } = {
  url: "/projects/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  subtitle: Astro.props.post.data.subtitle,
};
---

<div
  class="flex flex-col ring-1 shadow justify-between min-h-72 p-8 rounded-3xl relative ring-base-200 dark:ring-base-800 overflow-hidden h-full bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950 ring-inset group hover:shadow-light dark:hover:shadow-dark transform transition-all group"
>
  <a href={url} title={`Read more about ${title}`} class="absolute inset-0 z-10"
  ></a>
  <div class="flex justify-between items-center">
    <Text
      tag="h3"
      variant="textBase"
      class="font-medium dark:text-white text-base-900 uppercase"
    >
      {title}
    </Text>
    <div
      class="rounded-full dark:bg-base-50 bg-black p-1 dark:text-base-900 text-white group-hover:-rotate-45 duration-300"
    >
      <svg
        class="size-4"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
        ></path>
      </svg>
    </div>
  </div>
  <div
    class="-mb-20 group-hover:mb-0 gap-12 duration-300 flex flex-col items-start justify-between"
  >
    <Text
      tag="p"
      variant="textBase"
      class="dark:text-base-400 text-base-600 leading-6 mt-8 text-balance"
    >
      {subtitle}
    </Text>
    <Link
      size="xs"
      variant="default"
      href={url}
      title={`Read more about ${title}`}
      aria-hidden={true}
      class="pointer-events-none"
    >
      Read more about {title}
    </Link>
  </div>
</div>
