---
// Assets
import { Image } from "astro:assets";
import Tabler from "@/shared/images/stacklogos/tabler.svg";
import Arc from "@/shared/images/stacklogos/arc.svg";
import Astrojs from "@/shared/images/stacklogos/astro.svg";
import Notes from "@/shared/images/stacklogos/notes.svg";
import VSCode from "@/shared/images/stacklogos/vscode.svg";
import Penpot from "@/shared/images/stacklogos/penpot.svg";
import Tailwind from "@/shared/images/stacklogos/tailwind.svg";
import LexingtonThemes from "@/shared/images/stacklogos/lexingtonthemes.svg";
// Fundations
import Link from "@/shared/ui/base/Link.astro";
import Text from "@/shared/ui/base/Text.astro";
// Structure the stack with their respective items
const stack = [
  {
    title: "Design",
    items: [
      {
        stackLogo: Penpot,
        name: "Penpot",
        about: "Design Tool",
        description:
          "Penpot is the web-based open-source design tool that bridges the gap between designers and developers.",
      },
      {
        stackLogo: Tabler,
        name: "Tabler Icons",
        about: "Icon Library",
        description:
          "Free and open source icons designed to make your website or app attractive, visually consistent and simply beautiful.",
      },
      // Add more items as necessary
    ],
  },
  {
    title: "Developer Tools",
    items: [
      {
        stackLogo: Arc,
        name: "Arc",
        about: "Browser",
        description:
          "The Arc Browser is a new web browser developed by The Browser Company, aiming to revolutionize the way users interact with the internet.",
      },
      {
        stackLogo: Tailwind,
        name: "Tailwind CSS",
        about: "CSS Framework",
        description:
          "A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup.",
      },
      {
        stackLogo: Astrojs,
        name: "Astrojs",
        about: "Static Site Generator",
        description:
          "Astro powers the world's fastest websites, client-side web apps, dynamic API endpoints, and everything in-between..",
      },
      {
        stackLogo: VSCode,
        name: "VS Code",
        about: "Code Editor",
        description:
          "Visual Studio Code (VS Code) is a source-code editor developed by Microsoft for Windows, Linux, and macOS",
      },
      // Add more items as necessary
    ],
  },
  {
    title: "Productivity",
    items: [
      {
        stackLogo: LexingtonThemes,
        name: "Lexingont Themes",
        about: "Website Themes",
        description:
          "Free and premium multipage themes and UI Kits for freelancers, developers, businesses, and personal use. Beautifully crafted with Astro.js, and Tailwind CSS.",
      },
      {
        stackLogo: Notes,
        name: "Apple notes",
        about: "Notes",
        description:
          "Apple Notes is a notetaking app developed by Apple Inc. It is provided on the company's iOS, iPadOS, visionOS, and macOS operating systems.",
      },
      // Add more items as necessary
    ],
  },
];
---

<div class="flex flex-col gap-12 mt-24">
  {
    stack.map((section) => (
      <div class="flex flex-col gap-6 ">
        <p class="text-2xl italic tracking-wide dark:text-white text-base-900    font-display ">
          {section.title}
        </p>

        <ul role="list" class="grid gap-2 sm:grid-cols-2 lg:col-span-2">
          {section.items.map((item) => (
            <li class="relative flex flex-col justify-between w-full h-full p-6 overflow-hidden transition-all transform ring-1 shadow   min-h-72 rounded-2xl bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950        ring-base-200     dark:ring-base-800 ring-inset group hover:shadow-light   dark:hover:shadow-dark">
              <div class="flex items-center justify-between gap-x-4">
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium dark:text-white text-base-900    "
                  >
                    {item.name}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="      dark:text-base-400 text-base-600"
                  >
                    {item.about}
                  </Text>
                </div>
                <Image
                  src={item.stackLogo}
                  alt={item.name}
                  width={200}
                  height={200}
                  class="duration-300 size-8 rounded-xl dark:border dark:border-base-700 group-hover:-rotate-45"
                />
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 text-base  dark:text-base-400 text-base-600"
              >
                {item.description}
              </Text>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
