---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Data array
const pageData = [
  {
    sectionTitle: "All pages",
    categories: [
      {
        title: "Main",
        links: [
          { url: "/", name: "Home" },
          { url: "/404", name: "Error 404" },
        ],
      },
      {
        title: "About",
        links: [
          { url: "/now", name: "Now" },
          { url: "/stack", name: "Stack" },
          { url: "/socials", name: "Socials" },
          { url: "/studio", name: "Studio" },
        ],
      },
      {
        title: "Forms",
        links: [
          { url: "/forms/reset", name: "Reset" },
          { url: "/forms/signin", name: "Sign in" },
          { url: "/forms/signup", name: "Sign up" },
          { url: "/forms/contact", name: "Contact" },
        ],
      },
      {
        title: "System Pages",
        links: [
          { name: "Links", url: "/system/link" },
          { name: "Colors", url: "/system/colors" },
          { name: "Buttons", url: "/system/buttons" },
          { name: "Typography", url: "/system/typography" },
          {
            name: "License",
            url: "https://lexingtonthemes.com/legal/license/",
          },
          {
            name: "Documentation",
            url: "https://lexingtonthemes.com/documentation",
          },
        ],
      },
    ],
  },
  {
    sectionTitle: "Content collections",
    categories: [
      {
        title: "Blog Pages",
        links: [
         { url: "/blog", name: "Blog home" },
          { url: "/blog/home-2", name: "Blog home 2" },
          { url: "/blog/home-3", name: "Blog home 3" },
          { url: "/blog/posts/1", name: "Post" },
          { url: "/blog/tags", name: "Tag index" },
          { url: "/blog/tags/astro", name: "Tag category" },
          { url: "/rss.xml", name: "RSS" },
        ],
      },
      {
        title: "Projects",
        links: [
          { url: "/projects/home", name: "Home" },
          { url: "/projects/1", name: "Details" },
        ],
      },
      {
        title: "Work",
        links: [
          { url: "/work/home", name: "Home" },
          { url: "/work/1", name: "Details" },
        ],
      },
      {
        title: "Store",
        links: [
          { url: "/store/home", name: "Store" },
          { url: "/store/1", name: "Product Page" },
        ],
      },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="displayXL"
        class="mt-12 dark:text-white text-base-900 text-balance font-display"
      >
        Overview
      </Text>
      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 mt-12">
        {
          pageData.map((section) => (
            <div class="md:col-span-2">
              <Text
                tag="p"
                variant="textBase"
                class=" dark:text-white text-base-900     "
              >
                {section.sectionTitle}
              </Text>
              <div class=" grid grid-cols-1 md:grid-cols-2 gap-y-12    mt-4 pt-4 border-t dark:border-base-900 border-base-200">
                {section.categories.map((category) => (
                  <div class="flex flex-col ">
                    <Text
                      tag="h3"
                      variant="textBase"
                      class=" dark:text-white fotn-medium text-base-900     "
                    >
                      {category.title}
                    </Text>
                    <div class=" mt-1">
                      {category.links.map((link) => (
                        <div>
                          <Text
                            tag="a"
                            variant="textSM"
                            underlined={true}
                            class="dark:text-base-400 text-base-600"
                            href={link.url}
                            title={link.name}
                            aria-label={link.name}
                          >
                            {link.name}
                          </Text>
                        </div>
                      ))}
                    </div>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
