---
// Assets
import Tabler from "@/shared/images/stacklogos/tabler.svg?url";
import Arc from "@/shared/images/stacklogos/arc.svg?url";
import Astro from "@/shared/images/stacklogos/astro.svg?url";
import VSCode from "@/shared/images/stacklogos/vscode.svg?url";
import Penpot from "@/shared/images/stacklogos/penpot.svg?url";
import Tailwind from "@/shared/images/stacklogos/tailwind.svg?url";
// Fundations
import Text from "@/shared/ui/base/Text.astro";
// Stack.astro
const stack = [
  {
    items: [
      {
        rotation: "rotate-6",
        stackLogo: Penpot,
        name: "Penpot",
        about: "Design Tool",
        description:
          "Penpot is the web-based open-source design tool that bridges the gap between designers and developers.",
      },
      {
        rotation: "-rotate-12",
        stackLogo: Tabler,
        name: "Tabler Icons",
        about: "Icon Library",
        description:
          "Free and open source icons designed to make your website or app attractive, visually consistent and simply beautiful.",
      },
      {
        rotation: "rotate-6",
        stackLogo: Arc,
        name: "Arc",
        about: "Browser",
        description:
          "The Arc Browser is a new web browser developed by The Browser Company, aiming to revolutionize the way users interact with the internet.",
      },
      {
        rotation: "-rotate-12",
        stackLogo: Tailwind,
        name: "Tailwind CSS",
        about: "CSS Framework",
        description:
          "A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup.",
      },
      {
        rotation: "rotate-6",
        stackLogo: Astro,
        name: "Astrojs",
        about: "Static Site Generator",
        description:
          "Astro powers the world's fastest websites, client-side web apps, dynamic API endpoints, and everything in-between.",
      },
      {
        rotation: "-rotate-12",
        stackLogo: VSCode,
        name: "VS Code",
        about: "Code Editor",
        description:
          "Visual Studio Code (VS Code) is a source-code editor developed by Microsoft for Windows, Linux, and macOS.",
      },
      {
        rotation: "-rotate-12",
        stackLogo: VSCode,
        name: "VS Code",
        about: "Code Editor",
        description:
          "Visual Studio Code (VS Code) is a source-code editor developed by Microsoft for Windows, Linux, and macOS.",
      },
    ],
  },
];
---

<div class="relative mt-6 overflow-hidden">
  <div class="grid justify-between w-full">
    <div
      class="absolute inset-0 from-white dark:from-base-950 left-0 via-transparent w-44 z-10 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute inset-0 from-white dark:from-base-950 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto"
    >
    </div>
  </div>
  {
    stack.map((section) => (
      <div
        role="list"
        class="flex gap-2 py-12 dark:border-base-700 animatemarquee"
      >
        {section.items.map((item) => (
          <div role="listitem" class="min-h-72 min-w-72 w-full">
            <div
              class={`flex flex-col ring-1 shadow justify-between p-6 rounded-2xl relative overflow-hidden h-full bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950 ring-base-200 dark:ring-base-800 ring-inset group dark:hover:shadow-dark transform transition-all ${item.rotation}`}
            >
              <div class="flex items-center justify-between gap-x-4">
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium dark:text-white text-base-900"
                  >
                    {item.name}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="dark:text-base-400 text-base-600"
                  >
                    {item.about}
                  </Text>
                </div>
                <img
                  src={item.stackLogo}
                  alt={item.name}
                  class="duration-300 size-8 rounded-xl dark:border dark:border-base-700 group-hover:-rotate-45"
                />
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 text-base dark:text-base-400 text-base-600"
              >
                {item.description}
              </Text>
            </div>
          </div>
        ))}
      </div>
    ))
  }
  
</div>
