---
import FigmaLogo from "@/shared/images/FigmaLogo.astro";
import AstroLogo from "@/shared/images/AstroLogo.astro";
import StripeLogo from "@/shared/images/StripeLogo.astro";
import TailwindLogo from "@/shared/images/TailwindLogo.astro";
import OrchestraLogo from "@/shared/images/OrchestraLogo.astro";

const pricingTiers = [
  {
    title: "Design System",
    price: "$306",
    subnote: "USD + Local tax",
    description:
      "Perfect for companies ready to build digital products faster while maintaining strong brand identity through growth.",
    highlight: "Same as in Design plus:",
    features: [
      "Component Library",
      "Brand guidelines & visual standards",
      "Cross-platform consistency",
      "Documentation & support",
    ],
  },
  {
    title: "Mobile Development",
    price: "$180",
    description:
      "Ideal for startups launching or businesses expanding their reach with compelling mobile applications.",
    highlight: "What you get:",
    features: [
      "Native iOS & Android development",
      "Cross-platform compability",
      "Backend API integration",
      "App store deployment",
    ],
  },
  {
    title: "Web Development",
    price: "$60",
    description:
      "Perfect for businesses needing professional websites or custom web applications with full integration.",
    highlight: "What you get:",
    features: [
      "Responsive web design",
      "CMS & e-Commerce integration",
      "SEO optimization",
      "Performance optimization",
      "Ongoing support",
    ],
  },
];
---

<section class="scroll-mt-4" id="pricing">
  <div class="px-4 md:px-12 py-12 max-w-7xl mx-auto">
    <div
      class="grid grid-cols-1 gap-px md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <section
        class="col-span-full lg:col-span-1  flex flex-col justify-between rounded-3xl h-full text-base-900 p-8 bg-inner-color"
      >
        <div>
          <div class="flex gap-2">
            <FigmaLogo class="h-4 text-base-900" />
            <AstroLogo class="h-4 text-base-900" />
            <TailwindLogo class="h-3 text-base-900" />
          </div>
          <p class="text-2xl tracking-tight font-medium text-base-900 mt-4">
            Tailored Design & <span class="md:block">Development Packages</span>
          </p>
          <p class="text-xs text-base-500 mt-2">
            Flexible pricing to accelerate your digital journey at every stage.
          </p>
        </div>
        <div>
          <div class="flex items-center gap-2 text-base-900">
            <p class="text-xs">1 spots available</p>
            <div class="h-2 w-2 rounded-full bg-black"></div>
            <div class="h-2 w-2 rounded-full border border-black"></div>
          </div>
          <div class="border-t border-base-200 flex flex-col pt-2 mt-2">
            <span class="text-xs text-base-600 font-normal">
              Project management with <span
                class="italic text-base-900 font-medium">Orchestra</span
              >, secure payments with <span
                class="italic text-base-900 font-medium">Stripe</span
              > and the freedom of
              <span class="italic text-base-900 font-medium">
                Canceling your subscription anytime:</span
              >
            </span>
            <div class="inline-flex items-center gap-2 mt-4 text-base-900">
              <OrchestraLogo class="h-4 text-base-900" />
              <span aria-hidden="true" class="text-base-900 pointer-events-none"
                >/</span
              >
              <StripeLogo class="h-4 text-base-900" />
            </div>
          </div>
        </div>
      </section>

      {
        pricingTiers.map((tier) => (
          <section class=" flex flex-col justify-between rounded-3xl h-full text-base-900 p-8 bg-inner-color">
            <div>
              <div class="flex flex-col gap-2">
                <h3 class="text-lg text-base-900">{tier.title}</h3>
                <p class="text-xl font-medium text-base-900 mt-2">
                  <span class="text-sm text-base-500">start</span>
                  {tier.price}
                </p>
              </div>
              <p class="text-xs text-base-600 mt-4">{tier.description}</p>

              <div class="mt-6">
                <p class="text-xs uppercase text-base-900">{tier.highlight}</p>
                <ul
                  class="flex flex-col mt-2 text-sm text-base-600 gap-y-1 list-disc pl-4"
                  role="list"
                >
                  {tier.features.map((feature) => (
                    <li>
                      <span>{feature}</span>
                    </li>
                  ))}
                </ul>
              </div>
            </div>

            <div class="mt-8">
              <button class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between  text-base-900 h-10 border-base-200 focus:ring-2 shadow-base-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-base-200 hover:bg-black hover:text-white duration-300 w-full">
                Get started <span>&rarr;</span>
              </button>
            </div>
          </section>
        ))
      }

      <section
        class="h-full p-8 flex flex-col col-span-full md:col-span-1 xl:col-span-2 justify-between order-last md:order-none  rounded-3xl bg-inner-color"
      >
        <p class="text-lg text-base-900 lg:text-xl">Good to know</p>
        <div class="mt-4">
          <p class="text-xs text-base-500 font-normal">
            Our studio focuses exclusively on design and development excellence. 
            The following services are not included:
            <span class="text-base-900 italic font-medium">design systems</span
            >,
            <span class="text-base-900 italic font-medium">3D</span>,
            <span class="text-base-900 italic font-medium">prototypes</span>,
            <span class="text-base-900 italic font-medium">mobile apps</span>,
            <span class="text-base-900 italic font-medium">illustrations</span>,
            <span class="text-base-900 italic font-medium">CMS setups</span>,
            <span class="text-base-900 italic font-medium">back-end work</span>,
            <span class="text-base-900 italic font-medium">hosting</span>,
            <span class="text-base-900 italic font-medium">marketing</span>,
            <span class="text-base-900 italic font-medium">copywriting</span>,
            <span class="text-base-900 italic font-medium">animations</span>,
            and
            <span class="text-base-900 italic font-medium"
              >overly complex builds</span
            >.
          </p>

          <div class="border-t border-base-200 flex flex-col pt-4 mt-4">
            <p class="text-xs text-base-400">
              <b>We support English and Indonesian</b>.
               Choose what's most comfortable for your team!
            </p>
          </div>
        </div>
      </section>

      <section
        class="h-full rounded-3xl justify-between col-span-full lg:col-span-1 xl:col-span-2  p-8 bg-inner-color"
      >
        <div class="flex flex-col justify-between h-full">
          <h3 class="text-lg text-base-900 lg:text-xl">Book an intro call</h3>
          <p class="text-xs text-base-500 mt-4 text-balance">
            Not sure if it's the right fit? Let's talk. Book a quick intro call and get a feel for how our approach works.
          </p>

          <a
            href="#_"
            class="text-sm text-base-900 hover:text-blue-500 mt-4 font-medium"
          >
            Book a call
          </a>

          <div class="border-t border-base-200 pt-4 mt-4">
            <p class="text-xs text-base-400 text-italic">(Available in Jakarta/Indonesian Time)</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
