---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Assets
import { Image } from "astro:assets";
import X from "@/shared/images/sociallogos/x.svg";
import Figma from "@/shared/images/sociallogos/figma.svg";
import Github from "@/shared/images/sociallogos/github.svg";
import Medium from "@/shared/images/sociallogos/medium.svg";
import Behance from "@/shared/images/sociallogos/behance.svg";
import Codepen from "@/shared/images/sociallogos/codepen.svg";
import Spotify from "@/shared/images/sociallogos/spotify.svg";
import Discord from "@/shared/images/sociallogos/discord.svg";
import Dribbble from "@/shared/images/sociallogos/dribbble.svg";
import Linkedin from "@/shared/images/sociallogos/linkedin.svg";
import Stackoverflow from "@/shared/images/sociallogos/stackoverflow.svg";
// Structure the sections with their respective items
const sections = [
  {
    title: "Design",
    items: [
      {
        stackLogo: Figma,
        name: "Figma Community",
        username: "@mikeandreuzza",
        url: "#_",
      },
      {
        stackLogo: Dribbble,
        name: "Dribbble",
        username: "@mikeandreuzza",
        url: "#_",
      },
      {
        stackLogo: Behance,
        name: "Behance",
        username: "@michael_andreuzza",
        url: "#_",
      },
      // Add more items as necessary
    ],
  },
  {
    title: "Development",
    items: [
      {
        stackLogo: Github,
        name: "GitHub",
        username: "@treonstudio",
        url: "#_",
      },
      {
        stackLogo: Codepen,
        name: "Codepen",
        username: "@michael-andreuzza",
        url: "#_",
      },
      // Add more items as necessary
    ],
  },
  {
    title: "Social Media",
    items: [
      {
        stackLogo: Linkedin,
        name: "Linkedin",
        username: "@mike-andreuzza",
        url: "#_",
      },
      {
        stackLogo: X,
        name: "X",
        username: "@Mike_andreuzza",
        url: "#_",
      },
      // Add more items as necessary
    ],
  },
  {
    title: "Other",
    items: [
      {
        stackLogo: Spotify,
        name: "Spotify",
        username: "@michael-andreuzza",
        url: "#_",
      },
      {
        stackLogo: Medium,
        name: "Medium",
        username: "@michaelandreuzzavega",
        url: "#_",
      },
      {
        stackLogo: Discord,
        name: "Discord",
        username: "@michaandreuzza",
        url: "#_",
      },
      // Add more items as necessary
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance dark:text-white text-base-900"
        >
          I am all around
          <span class="font-display italic tracking-wide"> find me on... </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          I am easy to find on the internet, choose from a variety of social
          media platforms.
        </Text>
      </div>
      <div class="mt-6 space-y-12">
        {
          sections.map((section) => (
            <div class="flex flex-col gap-6 items-start  ">
              <Text
                tag="h3"
                variant="displaySM"
                class=" font-display italic tracking-wide dark:text-white text-base-900     "
              >
                {section.title}
              </Text>
              <div class="flex flex-col gap-2   w-full ">
                {section.items.map((item) => (
                  <a
                    href={item.url}
                    title={item.name}
                    class="flex flex-col ring-1 shadow    w-full   p-6 rounded-2xl relative overflow-hidden dark:ring-base-800 h-full bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950        ring-base-200      ring-inset group hover:shadow-light   dark:hover:shadow-dark transform transition-all group"
                  >
                    <div class="flex items-center gap-4 group  dark:text-base-400 text-base-600">
                      <Image
                        src={item.stackLogo}
                        alt={item.name}
                        width={200}
                        height={200}
                        class="size-12 rounded-full   group-hover:-rotate-45 duration-300"
                      />
                      <div class="text-sm leading-6">
                        <Text
                          tag="h3"
                          variant="textSM"
                          class="font-medium dark:text-white text-base-900        uppercase"
                        >
                          {item.name}
                        </Text>
                        <Text
                          tag="p"
                          variant="textBase"
                          class=" dark:text-base-400 text-base-600"
                        >
                          {item.username}
                        </Text>
                      </div>
                    </div>
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
