---
// Assets
import { Image } from "astro:assets";
import ScrollUpButton from "@/shared/images/ScrollUpButton.astro";

// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Link from "@/shared/ui/base/Link.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Components
const { frontmatter, previous, next } = Astro.props;
---

<BaseLayout>
  <ScrollUpButton />
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Image
          src={frontmatter.logo.url}
          alt={frontmatter.logo.alt}
          width={200}
          height={200}
          class="size-12 rounded-xl md:size-16 mx-auto ring-base-200 dark:ring-base-800 shadow"
        />
        <Text
          tag="h1"
          variant="displayXL"
          class="mt-8 text-balance dark:text-white text-base-900 font-display italic tracking-wide"
        >
          {frontmatter.title}
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          {frontmatter.subtitle}
        </Text>
      </div>
      <div class="space-y-6">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={800}
          height={400}
          class="rounded-2xl shadow mt-6 max-h-100 w-full object-cover object-center"
        />
        <div class="flex items-center justify-between">
          <Text
            tag="p"
            variant="textSM"
            class="dark:text-base-400 text-base-600 ml-2"
          >
            Published: <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                }
              )}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                })
              }</time
            >
          </Text>
          <Link
            size="base"
            variant="muted"
            href={frontmatter.live}
            title={frontmatter.title}
            >See it live
          </Link>
        </div>
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
        <nav
          class="flex flex-col md:flex-row lg:justify-between gap-4 lg:items-center relative text-xs mt-24"
        >
          <div>
            {
              previous && (
                <a
                  href={`/projects/${previous.slug}`}
                  class="hover:opacity-80 "
                >
                  <span class="block  text-base-900 dark:text-white font-medium uppercase">
                    Previous:
                  </span>
                  <span class="block  text-base-500 dark:text-base-400">
                    {previous.data.title}
                  </span>
                </a>
              )
            }
          </div>
          <div>
            {
              next && (
                <a
                  href={`/projects/${next.slug}`}
                  class=" hover:opacity-80 text-right"
                >
                  <span class="block  text-base-900 dark:text-white font-medium uppercase ">
                    Next:
                  </span>
                  <span class="block  text-base-500 dark:text-base-400">
                    {next.data.title}
                  </span>
                </a>
              )
            }
          </div>
        </nav>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
