---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Link from "@/shared/ui/base/Link.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Content
const { frontmatter, previous, next } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="dark:text-white text-base-900 text-balance"
        >
          {frontmatter.title}
        </Text>

        <Text
          tag="p"
          variant="textLG"
          class="mt-8 dark:text-base-400 text-base-600 text-balance"
        >
          {frontmatter.description}
        </Text>
      </div>

      <div class="flex items-center justify-center gap-4 mt-6">
        <Link
          size="sm"
          variant="muted"
          href={frontmatter.preview}
          title={frontmatter.preview}
          aria-label={frontmatter.preview}
        >
          Preview demo
        </Link>
        <Link
          size="sm"
          variant="default"
          href="#_"
          title="your title"
          aria-label="your label"
        >
          Buy {frontmatter.title} for ${frontmatter.price}
        </Link>
      </div>

      <div class="mt-12 space-y-12">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={600}
          height={600}
          class="object-cover object-top w-full rounded-2xl shadow ring-1 dark:ring-base-800 ring-base-200"
        />

        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
          <Text
            tag="h3"
            variant="displaySM"
            class="italic tracking-wide dark:text-white text-base-900 font-display"
          >
            Includes
          </Text>
          <ul role="list">
            <!-- Dynamically render highlights -->
            {
              frontmatter.highlights.map((highlight) => (
                <li>
                  <Text
                    tag="p"
                    variant="textSM"
                    class=" dark:text-base-400 text-base-600"
                  >
                    {highlight}
                  </Text>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
          <Text
            tag="h3"
            variant="displaySM"
            class="italic tracking-wide dark:text-white text-base-900 font-display"
          >
            License
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="dark:text-base-400 text-base-600"
          >
            {frontmatter.license}
          </Text>
        </div>
        <div class="grid gap-2 sm:grid-cols-2">
          {
            frontmatter.images.map((image) => (
              <Image
                src={image.url}
                alt={image.alt}
                width={400}
                height={400}
                class="rounded-2xl shadow    ring-1 aspect-[384/246] dark:ring-base-800     ring-base-200     w-full object-cover object-top"
              />
            ))
          }
        </div>
        <dl class="grid gap-2 mt-6 sm:grid-cols-2">
          {
            frontmatter.features.map((feature) => (
              <div class="relative flex flex-col p-6 overflow-hidden transition-all transform ring-1 dark:ring-base-800 shadow   rounded-2xl bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950        ring-base-200      ring-inset group hover:shadow-light   dark:hover:shadow-dark">
                <dt>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="dark:text-white text-base-900    "
                  >
                    {feature.title}
                  </Text>
                </dt>
                <dd class="mt-24 ">
                  <Text
                    tag="p"
                    variant="textLG"
                    class=" dark:text-base-400 text-base-600"
                  >
                    {feature.description}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
        <nav
          class="flex flex-col md:flex-row lg:justify-between gap-4 lg:items-center relative text-xs mt-24"
        >
          <div>
            {
              previous && (
                <a href={`/store/${previous.slug}`} class="hover:opacity-80 ">
                  <span class="block  text-base-900 dark:text-white font-medium uppercase">
                    Previous:
                  </span>
                  <span class="block  text-base-500 dark:text-base-400">
                    {previous.data.title}
                  </span>
                </a>
              )
            }
          </div>
          <div>
            {
              next && (
                <a
                  href={`/store/${next.slug}`}
                  class=" hover:opacity-80 text-right"
                >
                  <span class="block  text-base-900 dark:text-white font-medium uppercase ">
                    Next:
                  </span>
                  <span class="block  text-base-500 dark:text-base-400">
                    {next.data.title}
                  </span>
                </a>
              )
            }
          </div>
        </nav>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
