---
// Assets
import { Image } from "astro:assets";
import ScrollUpButton from "@/components/assets/ScrollUpButton.astro";

// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <ScrollUpButton />
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Image
          src={frontmatter.logo.url}
          alt={frontmatter.logo.alt}
          width={200}
          height={200}
          class="size-12 rounded-xl md:size-16 mx-auto ring-base-200 dark:ring-base-800 shadow"
        />
        <Text
          tag="h1"
          variant="displayXL"
          class="mt-8 text-balance dark:text-white text-base-900 font-display italic tracking-wide"
        >
          {frontmatter.title}
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          {frontmatter.subtitle}
        </Text>
      </div>
      <div class="space-y-6">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={800}
          height={400}
          class="rounded-2xl shadow mt-6 ring-1 max-h-72 ring-base-800 w-full object-cover object-center"
        />
        <div class="flex items-center justify-between">
          <Text
            tag="p"
            variant="textSM"
            class="dark:text-base-400 text-base-600 ml-2"
          >
            Published: <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                }
              )}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                })
              }</time
            >
          </Text>
          <Link
            size="base"
            variant="muted"
            href={frontmatter.live}
            title={frontmatter.title}
            >See it live
          </Link>
        </div>
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
