---
// Assets
import { Image } from "astro:assets";
import ScrollUpButton from "@/components/assets/ScrollUpButton.astro";

// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <ScrollUpButton />

  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="dark:text-white text-base-900 text-balance"
        >
          {frontmatter.title}
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          {frontmatter.subtitle}
        </Text>
      </div>
      <div class="space-y-6">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={1200}
          height={600}
          class="object-cover object-center w-full mt-6 rounded-2xl shadow ring-1 max-h-72 dark:ring-base-800 ring-base-200"
        />
        <div class="flex items-center justify-between r">
          <Text class="mt-2 text-xs dark:text-white text-base-900">
            Concluded: <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                }
              )}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                })
              }</time
            >
          </Text>
          <Link
            size="sm"
            variant="muted"
            href={frontmatter.live}
            title={frontmatter.title}
            >See it live
          </Link>
        </div>
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
